    /* General styles */
    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
    }

    /* Hero section styles */
    .hero-section {
      background-color: #000;
      color: #fff;
      height: 70vh; /* Increase height */
      position: relative;
    }
    .hero-image {
      background-image: url('https://cdn.mos.cms.futurecdn.net/dbDyCqCCaehsDbSRCWXAom.jpg');
      background-size: cover;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    .hero-text {
      bottom: 20%; /* Adjust position */
      position: absolute;
      text-align: center;
      width: 100%;
    }
    .hero-text h1 {
      font-size: 3em;
      margin: 0;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      text-transform: uppercase;
    }
